trigger:
  branches:
    include:
      - master
 
pool:
  vmImage: ubuntu-latest
 
variables:
  phpVersion: '8.1'
 
stages:
- stage: Build
  displayName: Build Stage
  jobs:
  - job: BuildJob
    steps:
    - checkout: self
 
    - task: ArchiveFiles@2
      displayName: 'Archive PHP Application'
      inputs:
        rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/phpapp.zip'
        replaceExistingArchive: true
 
    - publish: '$(Build.ArtifactStagingDirectory)/phpapp.zip'
      artifact: drop
 
- stage: Deploy
  displayName: Deploy to Azure App Service
  dependsOn: Build
  jobs:
  - deployment: DeployJob
    environment: 'dev'
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: drop
 
          - task: AzureWebApp@1
            displayName: 'Deploy to Azure App Service'
            inputs:
              azureSubscription: '<Azure-Service-Connection-Name>'
              appType: 'webAppLinux'
              appName: '<your-app-service-name>'
              package: '$(Pipeline.Workspace)/drop/phpapp.zip'
